/* =======================================================================================================================
CSS for Top Starts here
======================================================================================================================= */

.top__banner{
    width: 100%;
    height: 40px;
}

.img{
    width: 100%;
    height: 100%;
}

.top__navbar{
    width: 100%;
    height: 80px;
    border: 1px solid black;
    display: flex;
}

.top__navbar__logo{
    width: 14%;
    height: 80%;
    margin: 7px;
    margin-left: 4%;
}

.top__navbar__lan{
    width: 5%;
    height: 40%;
    margin-top: 25px;
    /* text-align: center; */
    border: 1px solid black;                                                                                                            
}

.top__navbar__lan>p{
    padding-bottom: 12px;
}



/* =======================================================================================================================
CSS for Top Ends here
======================================================================================================================= */

/* =======================================================================================================================
CSS for Bottom Starts here
======================================================================================================================= */
.Monitor_Attendance{
    height:600px;
    width:100%;
    background-color: #F6F7F8;
    display:flex;
}
.Monitor_Attendance_text{
    width:40%; 
    padding:4%;
}
.Monitor_Attendance_text >h1{
    font-size:50px;
    line-height: 1.166;
    font-family: ObjectivityBold, sans-serif;
    color: #212529;
}
.Monitor_Attendance_text >p{  
     line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 530;
    font-size: 18px;
    word-spacing: 5px;
}
.Monitor_Attendance_text >div {
    height:25px;
    background-color: #3070F0;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    border-radius:3px;
    padding:3%;
    font-size:17px;
    width: 30%;
    margin-top:20px;
    font-family: PTRootUIMedium,sans-serif;
}
.Monitor_Attendance >img{
    width:55%;
    margin-top:80px;
    height:500px;
}
.Integration{
    height:500px;
    width:90%;
    padding:4%;
}
.Integration >h1{
    font-size:50px;
    line-height: 1.166;
    font-family: ObjectivityBold, sans-serif;
    color: #212529;
    text-align:center;
}
.Integration >p{
    line-height: 1.5;
    font-family: PTRootUIMedium,sans-serif;
    color: #212529;
    font-weight: 540;
    font-size: 19px;
    word-spacing: 5px;
    text-align:center;
}
.starttrail{
    height:27px;
    background-color: #3070F0;
    line-height: 1.5;
    font-weight: 400;
    color: #fff;
    border-radius:3px;
    padding:1%;
    font-size:17px;
    width: 11%;
    margin-left:32%;
    font-family: PTRootUIMedium,sans-serif;
}
.Integration__start__explore{
    display:flex;
   height:50px;
   width:100%; 
   margin: 2% auto;
}
.Integration__start__explore >p{
    line-height: 1.5;
    font-weight: bold;
    font-size:17px;
    color:#3070F0;
    margin-left:3%;
    font-family: PTRootUIMedium,sans-serif;
}
.Integration__start__explore >img{
    height: 30px;
    width:3%;
    align-items:center;
    font-family: PTRootUIMedium,sans-serif;
     margin-top:15px;
}
.Integration__boxes{
    height: 120px;
    width:100%;
    
    margin:2% auto;
    display:flex;
}
.icon__box{
    height: 100px;
    width:10%;
    border-radius:6px;
   border: 1px solid #E2E7EB;
    margin:20px;
    background-color: #fff;
}
 .icon__box:hover{
    transform: translate(-2%, -2%);

     box-shadow:5px 5px 5px  #E2E7EB,5px 5px 5px #E2E7EB ;
} 
.icon__box >img{
    height: 40px;
    width:100%; 
    margin-top:27%;
   
}
.Integration__boxes2{
    height: 120px;
    width:100%;
    margin:2% auto;
    display:flex;
    padding-left:17%;
}
.reviews{
    height:300px;
    width:95%;
    padding:4%; 
    background-color: #FBEFCA;
    
}
.reviews>h1,.review190{
    font-size:35px;
    line-height: 1.166;
    font-family: ObjectivityBold, sans-serif;
    color: #212529;
    text-align: center;
    

}
.reviews > img{
    margin-left: 37%;
}
.review190{
    color:#3070F0;
}
.businesses{
    height:250px;
    width:95%;
    background-color: #F6F7F8;
    padding:4%;
      
}
.businesses >p{
    text-align: center;
    font-family: PTRootUIMedium,sans-serif;
    line-height: 1.5;
    font-weight: 500;
    font-size:17px;

}
.businesses_icons{
    height:70px;
    width:100%;
    margin:auto;
    display:flex;
    padding:2%;
}
.businesses>img{
    margin-left: 40%;
}
.Make_time_work{
    height:250px;
    width:95%;
    background-color:#41338F;;
    padding:4%;
    color:white;
}
.Make_time_work >h1{
    font-size:50px;
    line-height: 1.166;
    font-family: ObjectivityBold, sans-serif;
    text-align:center;
}
.Make_time_work_start{
    background-color: white;
    color:#212529;
    margin-left:43%;
    font-weight: 550;
    font-family: PTRootUIMedium,sans-serif;
}
.Make_time_work>p{
    color:#fff;
    font-family: PTRootUIMedium,sans-serif;
    text-align:center;
}
.Footer_Part{
    height:350px;
    width:95%;
    padding:4%; 
}
.Footer_Part_overview{

    height:300px;
    display:flex;
}
.Footer_Part_overview >div{
    height:300px;
    width:25%;
}
.footer__text{
    color:#3A3E42;;
    font-family: PTRootUIMedium,sans-serif;
    font-weight:bold;
}
.footer_div{
    display:flex;
}
.footer_div_text{
    color:#212529;
    font-family: PTRootUIMedium,sans-serif;
    margin-left:2%;
    margin-top:2%;
}












/* =======================================================================================================================
CSS for Bottom Ends here
======================================================================================================================= */